<header class="header">
    <nav class="row">


        <ul class="header-subnav">

            <li><a href="#">Take Action!</a></li>

            <li><a href="#" class="is-active">Carpe Diem!</a></li>

            <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>

        </ul>
    </nav>
</header>
<div class="row">
    <div class="large-2 columns">
        <!-- ... -->
    </div>
    <div class="large-8 columns">
        <img src="../assets/pomegranate-logo-000.jpeg-no-back.png" alt="">
    </div>
    <div class="large-2 columns">
        <!-- ... -->
    </div>
</div>
<div class="row">
    <div class="large-2 columns">
        <!-- ... -->
    </div>
    <div class="large-6 columns">
        <header class="header">
            <h3><small>Pomegranate connects and nurtures close relationships with some of the best British producers and restaurants</small></h3>
        </header>
    </div>
    <div class="large-2 columns">
        <!-- ... -->
    </div>
</div>